# DAY_09

## 시리즈의 구성 여부를 체크하는 함수

In [1]:
# 라이브러리 불러오기
from pandas import Series, DataFrame
import pandas as pd

In [2]:
# 예시 함수 불러오기
obj = Series(['1/7','7','seven','SEVEN','Seven','seven7','칠','칠 7',' ','7#'])
obj

0       1/7
1         7
2     seven
3     SEVEN
4     Seven
5    seven7
6         칠
7       칠 7
8
9        7#
dtype: object

### .str.isalnum() : 알파벳, 한글, 숫자로만 구성 여부를 체크하는 함수

In [3]:
obj.str.isalnum()

0    False
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

In [4]:
# 알파벳, 한글, 숫자로만 구성된 것들 출력하기
obj[obj.str.isalnum()]

1         7
2     seven
3     SEVEN
4     Seven
5    seven7
6         칠
dtype: object

### .str.isalpha() : 알파벳, 한글만 구성 여부를 체크하는 함수

In [5]:
obj.str.isalpha()

0    False
1    False
2     True
3     True
4     True
5    False
6     True
7    False
8    False
9    False
dtype: bool

In [6]:
# 알파벳, 한글로만 구성된 것들을 출력하기
obj[obj.str.isalpha()]

2    seven
3    SEVEN
4    Seven
6        칠
dtype: object

### .str.isnumeric()/.str.isdigit() : 숫자로만 구성 여부를 체크하는 함수

In [7]:
obj.str.isnumeric()

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [8]:
obj[obj.str.isnumeric()]

1    7
dtype: object

In [9]:
obj.str.isdigit()

0    False
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [10]:
obj[obj.str.isdigit()]

1    7
dtype: object

### .str.islower() : 소문자를 체크하는 함수

In [11]:
obj.str.islower()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
9    False
dtype: bool

In [12]:
obj[obj.str.islower()]

2     seven
5    seven7
dtype: object

### .str.isupper() : 대문자 체크하는 함수

In [13]:
obj.str.isupper()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [14]:
obj[obj.str.isupper()]

3    SEVEN
dtype: object

### .str.istitle() : 첫 글자 대문자, 뒷 글자 소문자 체크하는 함수

In [15]:
obj.str.istitle()

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [16]:
obj[obj.str.istitle()]

4    Seven
dtype: object

### .str.isspace() : 공백으로만 구성 여부 체크하는 함수

In [17]:
obj.str.isspace()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool

In [18]:
obj[obj.str.isspace()]

8
dtype: object

## x.str.slice_replace() : 특정한 인덱스 구간의 값을 다른 값으로 수정하는 함수

* 인덱싱을 통해서 특정 값으로 수정하는 기능

In [19]:
obj = Series(['big','big data'])
obj

0         big
1    big data
dtype: object

In [20]:
# b -> B로 수정하기
## 기존 방법 : replace
obj.str.replace('b','B')

0         Big
1    Big data
dtype: object

**replace는 첫 글자 B만 대문자로 수정하고 싶을 때 사용할 수 없다(모든 b를 B로 바꾸기 때문에)**

In [21]:
## 리스트 내장 객체를 사용하기
['B'+i[1:]for i in obj]

['Big', 'Big data']

**특정한 인덱스 구간의 값을 다른 값으로 수정하는 함수**

In [22]:
obj.str.slice_replace(start=0,stop=2,repl='BI')

0         BIg
1    BIg data
dtype: object

In [23]:
obj.str.slice_replace(start=0,stop=1,repl='B')

0         Big
1    Big data
dtype: object

### .str.pad(width, side, fillchar) : 지정된 길이로 패딩 작업을 하는 함수
* str.center(width, fillchar) : 중앙 정렬 
* str.ljusct(width, fillchar) : 왼쪽 정렬 
* str.rjusct(width, fillchar) : 오른쪽 정렬

CNN에서 패딩 작업을 할때 이런 메소드들이 내부에서 돌아간다

In [24]:
# 왼쪽
obj.str.pad(width = 20, side = 'left', fillchar = '_') # width : 길이를 지정한다

0    _________________big
1    ____________big data
dtype: object

In [25]:
# 왼쪽 
obj.str.ljust(width = 20, fillchar='_')

0    big_________________
1    big data____________
dtype: object

In [26]:
# 오른쪽
obj.str.pad(width = 20, side = 'right', fillchar = '_')

0    big_________________
1    big data____________
dtype: object

In [27]:
# 오른쪽
obj.str.rjust(width = 20, fillchar='_')

0    _________________big
1    ____________big data
dtype: object

In [28]:
# 중앙
obj.str.center(width = 20, fillchar='_')

0    ________big_________
1    ______big data______
dtype: object

In [29]:
obj.str.rjust(width = 20, fillchar = '0')
obj.str.zfill(width = 20)

0    00000000000000000big
1    000000000000big data
dtype: object

### str.split() :  특정한 문자를 기준으로 분리하는 함수

In [30]:
obj = Series(['itwill@itwill.com','itwill'])
obj

0    itwill@itwill.com
1               itwill
dtype: object

In [31]:
# list로 값을 출력함
obj.str.split('@')

0    [itwill, itwill.com]
1                [itwill]
dtype: object

In [32]:
# expand = True : 분리 시켜서 개별 열로 값을 출력해 줌 
obj.str.split('@',expand=True)

        0           1
0  itwill  itwill.com
1  itwill        None

### .str.partition() : 특정한 문자를 기준으로 분리하고, 개별 컬럼으로 값을 출력하는 함수

* split와 다르게 특정 문자를 포함해서 결과를 반환한다

In [33]:
obj.str.partition('@')

        0  1           2
0  itwill  @  itwill.com
1  itwill

In [34]:
# 오른쪽 정렬해서 출력함
obj.str.rpartition('@')

        0  1           2
0  itwill  @  itwill.com
1                 itwill

## 시리즈의 그룹함수 
----------------
* **obj.mean()** : 평균 
* **obj.var()** : 분산
* **obj.max()**
* **obj.min()**
----------------
* **obj.idxmax()** #최대값 인덱스
* **obj.idxmin()** #최소값 인덱스
* **obj.argmax()** #최대값 인덱스
* **obj.argmin()** #최소값 인덱스
----------------
* **obj.cumsum()** #누적합
* **obj.cumprod()** #누적곱
----------------
* **obj.cummin()** # 누락 최소값
* **obj.cummax()** # 누적 최대값
---------------

* **obj.count()** # nan 제외한 건수 
* **len(obj)** #nan 포함한 건수

In [35]:
obj = Series([3,6,4,2,None,6])

In [36]:
obj.sum(skipna=True) # 기본값
obj.sum(skipna=False)

nan

In [37]:
obj.mean() # 평균

4.2

In [38]:
obj.var() # 분산

3.2

In [39]:
obj.std() # 표준편차

1.7888543819998317

In [40]:
obj.max() # 최대값

6.0

In [41]:
obj.min() # 최소값

2.0

In [42]:
# 처음으로 나오는 최대값의 인덱스를 보여준다 
obj.idxmax()
obj.argmax()

1

In [43]:
#\ 처음으로 나오는 최소값의 인덱스를 보여준다 
obj.idxmin()
obj.argmin()`

SyntaxError: invalid syntax (3659884572.py, line 3)

In [ ]:
# 注 : 최대값의 위치를 모두 찾고싶을 때 
obj[obj == obj.max()].index

In [44]:
obj.cumsum() # 누적합

0     3.0
1     9.0
2    13.0
3    15.0
4     NaN
5    21.0
dtype: float64

In [45]:
obj.cumprod() # 누적곱

0      3.0
1     18.0
2     72.0
3    144.0
4      NaN
5    864.0
dtype: float64

In [46]:
obj.cummin() # 누적 최소값

0    3.0
1    3.0
2    3.0
3    2.0
4    NaN
5    2.0
dtype: float64

In [47]:
obj.cummax() # 누적 최대값

0    3.0
1    6.0
2    6.0
3    6.0
4    NaN
5    6.0
dtype: float64

In [48]:
obj.count() # nan를 제외한 건수 출력

5

In [50]:
len(obj) # nan을 포함함

6

**데이터 프레임의 집계함수**

In [51]:
df=DataFrame([[60,80,70],
          [100,80.90],
          [60,90.50]],
          index = ['홍길동','박찬호','손흥민'],
          columns=['영어','수학','국어'])

df

      영어    수학    국어
홍길동   60  80.0  70.0
박찬호  100  80.9   NaN
손흥민   60  90.5   NaN

In [59]:
df.sum() # 컬럼을 기준으로 합을 출력함
df.sum(axis=0)
df.sum(axis = 'rows')

영어    220.0
수학    251.4
국어     70.0
dtype: float64

In [60]:
df.sum(axis=1) # rows를 기준으로 합을 출력함
df.sum(axis = 'columns')

홍길동    210.0
박찬호    180.9
손흥민    150.5
dtype: float64

In [61]:
df.mean() # 열의 평균
df.mean(axis = 1) # 행의 평균

영어    73.333333
수학    83.800000
국어    70.000000
dtype: float64

In [64]:
df.loc['제임스','영어'] = 100
df.loc['제임스','수학']= None # NaN이 들어가면 실수형으로 바뀐다
df.loc['제임스','국어'] = 90

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, 홍길동 to 제임스
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   영어      4 non-null      float64
 1   수학      3 non-null      float64
 2   국어      2 non-null      float64
dtypes: float64(3)
memory usage: 300.0+ bytes

In [67]:
df.sum(axis = 0, skipna = False) # NaN값을 Skip할지 안 할지 결정. 해당 경우는 skip하지 않아 NaN값으로 출력됨

영어    320.0
수학      NaN
국어      NaN
dtype: float64

In [68]:
df.sum(axis = 'rows', skipna = True) # 기본 값은 True

영어    320.0
수학    251.4
국어    160.0
dtype: float64

In [73]:
df.loc['손흥민'].mean()

75.25

# 문제 풀이

## [문제 83] salary값을 1000당 '*' 하나 출력 해주세요. 

5000 -> *****

In [ ]:
import pandas as pd 
emp = pd.read_csv("c:/data/employees.csv")
emp.head()

In [ ]:
# solution 1 
['*' * int(i/1000) for i in emp['SALARY']]

In [ ]:
# soltuion 2 

x = (emp['SALARY']/1000).astype('int')
x.apply(lambda arg : Series('*').str.pad(width=arg, side = 'left', fillchar = '*'))

## [문제 84] salary값을 1000당 '*' 하나로 만들어서 리스트 변수에 저장해주세요. 단 반복문을 사용하시오

In [ ]:
# 내 풀이 
star = []
x = []

for i in emp['SALARY']:
    x = int(i/1000)
    s = x * '*'
    star.append(s)

star

In [ ]:
# 선생님 풀이 

star = []

for i in emp['SALARY']:
    y = ''
    s = int(i/1000)
    while True:
        if s ==0:
            break
        else:
            y += '*'
            s -= 1 
    star.append(y)

star

In [ ]:
# 데이터 프레임에 넣어보기
DataFrame({'sal':emp['SALARY'], 'star':star})

In [ ]:
obj = Series([3,6,4,2,None,5])

## [문제 85] 20번 부서 사원들의 급여 합을 구하세요.

**solution 1 : pandas를 이용해서 급여의 합을 출력**

In [76]:
import pandas as pd 
emp = pd.read_csv("c:/data/employees.csv")

emp[emp['DEPARTMENT_ID'] == 20]['SALARY'].sum()

19000

In [77]:
emp.loc[emp['DEPARTMENT_ID'] == 20, 'SALARY'].sum()

19000

**pandas 사용하지 않고**

In [81]:
import csv 

file = open("c:/data/employees.csv","r")
emp_csv = csv.reader(file)
next(emp_csv)

v_sal = 0

for i in emp_csv:
    if i[-1] == '20':
        v_sal += int(i[7])

file.close()
print(v_sal)

19000

## [문제 86] 부서번호를 입력하면 그 부서의 급여 총액을 구하는 함수를 생성하세요.

dept_sal_sum(20) = 19000 

dept_sal_sum(None)
부서코드를 입력해주세요

dept_sal_sum(120)
부서가 없습니다.

In [94]:
# NaN인 경우와 없는 부서의 경우가 동일한 0값으로 출력됨
# 이 둘의 케이스를 분리시켜야 함.
emp[emp['DEPARTMENT_ID']==None]['SALARY'].sum()

0

In [93]:
emp[emp['DEPARTMENT_ID']==120]['SALARY'].sum()

0

In [95]:
# 유일한 부서만 따로 뽑아내기
set(emp['DEPARTMENT_ID'])

{nan, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0, 100.0, 110.0}

In [96]:
Series(set(emp['DEPARTMENT_ID'])) #오류, 순서(인덱스)가 없기 때문

TypeError: 'set' type is unordered

In [98]:
id = Series(list(set(emp['DEPARTMENT_ID']))) # 선 리스트 후 시리즈 가능

In [100]:
# NaN 값은 제외시켜주기
id = id[pd.notnull(id)]

In [104]:
id == 20

if 20 == id: # True False가 하나만 나와야 하는데 시리즈라서 여러개가 나옴 그래서 오류가 뜬다
    print('성공')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [105]:
id == 20
if 20 == id:
    print('성공')

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

1     False

2     False

3     False

4     False

5     False

6     False

7     False

8      True

9     False

10    False

11    False

이런 결과 값에서

True or False or True ... 

이런 모습으로 만들고 싶다. 
이렇게 하면 하나만 출력이 되기 때문

In [107]:
# any() 함수는 잠재적으로 축을 통해 어떤 요소가 True인지 확인하는 데 사용됩니다.
# https://www.w3resource.com/pandas/series/series-any.php
(id == 20).any()

True

In [108]:
if (20 == id).any():
    print('성공')

성공

In [110]:
# all() 함수는 잠재적으로 축에 대해 모든 요소가 True인지 확인하는 데 사용됩니다.

(id == 20).all()

if (20 == id).all():
    print('성공')
else:
    print('실패')

실패

In [111]:
x = 120 
id = Series(list(set(emp['DEPARTMENT_ID'])))
id = id[pd.notnull(id)]


if (x==id).any():
    print(emp[emp['DEPARTMENT_ID']==x]['SALARY'].sum())
elif pd.isnull(x):
    print('부서코드를 입력해주세요')
else:
    print('부서가 없습니다')

부서가 없습니다

In [114]:
# 함수 만들기 

def dept_sal_sum(arg):
    # 데이터 불러오기
    emp = pd.read_csv("c:/data/employees.csv")
    
    id = Series(list(set(emp['DEPARTMENT_ID'])))
    id = id[pd.notnull(id)]
    
    if (arg==id).any():
        print(emp[emp['DEPARTMENT_ID']==arg]['SALARY'].sum())
    elif pd.isnull(arg):
        print('부서 코드를 입력해주세요.')
    else:
        print('부서가 없습니다')
        return

In [115]:
dept_sal_sum(100)

51608

In [116]:
dept_sal_sum(120)

부서가 없습니다

In [122]:
dept_sal_sum(None)

부서 코드를 입력해주세요.

**any말고 다른 솔루션**

In [124]:
b = [True, False, True]
b.any() # 오류, Series용 함수라서 시리즈로 사용해야 함

AttributeError: 'list' object has no attribute 'any'

In [125]:
b = Series([True,False,True])
b.any() 
b.all()

False

In [126]:
id = Series(list(set(emp['DEPARTMENT_ID'])))
id = id[pd.notnull(id)]
id

1     100.0
2      70.0
3      40.0
4      10.0
5     110.0
6      80.0
7      50.0
8      20.0
9      90.0
10     60.0
11     30.0
dtype: float64

In [127]:
20 in id # 안나옴

False

In [128]:
20 in list(id) # in을 써야 할 때는 list로 형변환을 해야한다

True

In [129]:
def dept_sal_sum(arg):
    # 데이터 불러오기
    emp = pd.read_csv("c:/data/employees.csv")
    
    id = Series(list(set(emp['DEPARTMENT_ID'])))
    id = id[pd.notnull(id)]
    
    if arg in list(id):
        print(emp[emp['DEPARTMENT_ID']==arg]['SALARY'].sum())
    elif pd.isnull(arg):
        print('부서 코드를 입력해주세요.')
    else:
        print('부서가 없습니다')
        return

**set을 이용하지 않고 유일한 부서 값을 넣은 list 함수 만들기**

In [146]:
# solution 1  

dept_unique = []
for i in emp['DEPARTMENT_ID']:
    if i not in dept_unique:
        dept_unique.append(i)

sorted(dept_unique)

[10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0, 100.0, nan, 110.0]

In [149]:
# solution 2 -- 딕셔너리로 반환 

import collections 

collections.Counter(emp['DEPARTMENT_ID']).keys()

dict_keys([90.0, 60.0, 100.0, 30.0, 50.0, 80.0, nan, 10.0, 20.0, 40.0, 70.0, 110.0])

In [150]:
# solution 3 -- array로 반환 

emp['DEPARTMENT_ID'].unique()

array([ 90.,  60., 100.,  30.,  50.,  80.,  nan,  10.,  20.,  40.,  70.,
       110.])

In [152]:
# 이미 array안에 list 모습으로 들어가있기 때문에 바로 in을 사용해서 수행해도 됨 

20 in emp['DEPARTMENT_ID'].unique()

True

In [153]:
def dept_sal_sum(arg):
    # 데이터 불러오기
    emp = pd.read_csv("c:/data/employees.csv")
    
    id = emp['DEPARTMENT_ID'].unique()
    id = id[pd.notnull(id)]
    
    if arg in id:
        print(emp[emp['DEPARTMENT_ID']==arg]['SALARY'].sum())
    elif pd.isnull(arg):
        print('부서 코드를 입력해주세요.')
    else:
        print('부서가 없습니다')
        return

In [154]:
dept_sal_sum(None)

부서 코드를 입력해주세요.